.container-text-module
    height: 400px
    width: 600px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around 
    padding-left: 50px
    margin-top: -3px
    div li
        font-size: 2rem
        font-family: $mona-novo