.titleBar-title
    @include flex-text-center
    margin-top: -210px
    height: 15px
    width: 75%
    border-top: 2px $secondary-color solid
    p
        background-color: $primary-color
        font-family: $mona-novo
        font-size: $large-font-size
        width: 200px
        text-align: center
        @media (max-width: $small-screen)
            background-color: $primary-color
            font-family: $mona-novo
            font-size: 1.4em
            width: 150px
            text-align: center
        
        
