
.container-general-module
    @include flex-container-column 
    justify-content: center 
    padding-left: 140px
    margin: auto
    @media(max-width: $small-screen)
        @include flex-container-column 
        justify-content: center 
        padding-left: 10px
        margin: auto

    
.container-presentation-module
    display: flex
    flex-direction: column
    flex-wrap: wrap
    height: 100px
    margin-top: 25px
    align-items: center 
    font-family: $mona-novo 
    @media(max-width: 750px)
        margin-right: 120px
    @media(max-width: $small-screen)
        margin-right: 16px
    div
        text-align: center
        
