.charlesCantinLogo
    @include flex-text-center
    height:250px
    width: 500px
    border-top: 10px $secondary-color solid
    border-bottom: 10px $secondary-color solid
    font-family: $mona-novo
    font-size: $extra-large-font-size
    letter-spacing: $name-letter-spacing
    
    @media (max-width: 540px)
        @include flex-text-center
        height:150px
        width: 300px
        border-top: 8px $secondary-color solid
        border-bottom: 10px $secondary-color solid
        font-family: $mona-novo
        font-size: 1.6em
        letter-spacing: $name-letter-spacing

    
    
    
    
    