.pageFormat
    display: flex
    flex-direction: row
    flex-wrap: wrap
    background-color: $primary-color
    color: $secondary-color
    min-height: calc(95vh - 140px)
    width: auto
    margin: auto
    