@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 800px;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

.container-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 90px;
  width: 95%;
  margin: auto;
  border-bottom: solid 2px rgb(218, 218, 204);
  background-color: #455969;
  color: rgb(218, 218, 204);
}

.container-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer {
  margin-top: 50px;
  border-top: solid 2px rgb(218, 218, 204);
  height: 50px;
  width: 95%;
  font-size: 0.7rem;
  color: rgb(218, 218, 204);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-size {
  height: 30px;
  width: 30px;
  margin-left: 6px;
  margin-right: 6px;
}

.imgBg {
  width: 100%;
}

.container-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #455969;
  position: relative;
  bottom: 0px;
  height: auto;
  width: 100%;
}

.menuButton {
  background-color: #455969;
  color: rgb(218, 218, 204);
  height: 30px;
  width: 120px;
  margin-right: 10px;
  border: solid 1px rgb(218, 218, 204);
  cursor: pointer;
  transition: 0.3s;
}

.menuButton:hover {
  background-color: rgb(218, 218, 204);
  color: black;
  border: solid 1px black;
}

.menuButton:active {
  background-color: #455969;
}

.pageFormat {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #455969;
  color: rgb(218, 218, 204);
  min-height: calc(95vh - 140px);
  width: 100%;
  margin: auto;
}
@media (max-width: 950px) {
  .pageFormat {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #455969;
    color: rgb(218, 218, 204);
    min-height: calc(95vh - 140px);
    width: auto;
    margin: auto;
  }
}

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.charlesCantinLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 500px;
  margin: 0 auto;
  margin-top: 250px;
  border-top: 8px rgb(218, 218, 204) solid;
  border-bottom: 8px rgb(218, 218, 204) solid;
  font-family: "Nova Mono", monospace;
  font-size: 3rem;
  letter-spacing: 0.4rem;
  animation-name: moveInFromLeft;
  animation-duration: 3s;
}
@media (max-width: 540px) {
  .charlesCantinLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 300px;
    margin: 0 auto;
    margin-top: 60%;
    border-top: 6px rgb(218, 218, 204) solid;
    border-bottom: 6px rgb(218, 218, 204) solid;
    font-family: "Nova Mono", monospace;
    font-size: 1.4em;
    letter-spacing: 0.4rem;
    animation-name: moveInFromLeft;
    animation-duration: 3s;
  }
}

.smallCharlesCantinLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: #455969;
  height: 50px;
  width: 400px;
  margin: 40px auto;
  width: 400px;
  border-top: 4px rgb(218, 218, 204) solid;
  border-bottom: 4px rgb(218, 218, 204) solid;
  font-family: "Nova Mono", monospace;
  font-size: 1.4em;
  letter-spacing: 0.4rem;
}
@media (max-width: 540px) {
  .smallCharlesCantinLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 40px;
    width: 300px;
    margin: 40px auto;
    border-top: 4px rgb(218, 218, 204) solid;
    border-bottom: 4px rgb(218, 218, 204) solid;
    font-family: "Nova Mono", monospace;
    font-size: 1.4em;
    letter-spacing: 0.4rem;
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.camera {
  background-color: #455969;
  position: absolute;
  text-align: center;
  height: 70px;
  width: 100px;
  margin-top: -245px;
  margin-left: 2px;
  animation-name: moveInFromRight;
  animation-duration: 7s;
}
@media (max-width: 540px) {
  .camera {
    height: 50px;
    width: 60px;
    margin-top: -160px;
  }
  .camera img {
    height: 40px;
    width: 40px;
  }
}

.cameraLogo {
  background-color: #455969;
  position: absolute;
  text-align: center;
  width: 70px;
  margin-top: -70px;
}
.cameraLogo img {
  height: 40px;
  width: 40px;
}

.displayGaleryFormat {
  background-color: #455969;
  border-style: solid;
  height: 120px;
  width: 200px;
  margin-top: 1%;
}
.displayGaleryFormat figure, .displayGaleryFormat img {
  height: 100%;
}
.displayGaleryFormat figure, .displayGaleryFormat img, .displayGaleryFormat figcaption {
  text-align: center;
  font-family: "Nova Mono", monospace;
  font-size: 0.8em;
}

.container-flex-row {
  margin-top: 8%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
@media (max-width: 540px) {
  .container-flex-row {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
}

.titleBar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -10px auto;
  height: 15px;
  width: 75%;
  border-top: 2px rgb(218, 218, 204) solid;
}
@media (max-width: 540px) {
  .titleBar-title {
    margin: 1px auto;
    height: 15px;
    width: 75%;
    border-top: 2px rgb(218, 218, 204) solid;
  }
}
.titleBar-title p {
  background-color: #455969;
  font-family: "Nova Mono", monospace;
  font-size: 2rem;
  width: 200px;
  text-align: center;
}
@media (max-width: 540px) {
  .titleBar-title p {
    background-color: #455969;
    font-family: "Nova Mono", monospace;
    margin: 6px auto;
    font-size: 1.4em;
    width: 150px;
    text-align: center;
  }
}

.mainContainertarifs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.containertarifs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  background-color: #7D91AD;
  border: solid 2px rgb(218, 218, 204);
  width: 80%;
  height: 220px;
  padding-left: 30px;
  padding-right: 30px;
}
.containertarifs p {
  font-size: 5rem;
  color: rgba(218, 218, 204, 0.5);
  font-style: italic;
  width: 250px;
  text-align: center;
}
@media (max-width: 950px) {
  .containertarifs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    background-color: #7D91AD;
    border: solid 2px rgb(218, 218, 204);
    width: 60%;
    height: 800px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.container-col {
  background-color: #7D91AD;
  height: 220px;
  width: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container-col span {
  font-family: "Nova Mono", monospace;
  font-size: 1.8rem;
  color: rgb(218, 218, 204);
}

.picturePrice {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 270Px;
  justify-content: space-between;
  align-items: center;
}
.picturePrice img {
  height: 160px;
  width: 110px;
  margin-left: 10px;
  border: solid 2px rgb(218, 218, 204);
}

.contactStyle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-left: 50px;
  color: rgb(218, 218, 204);
}
@media (max-width: 540px) {
  .contactStyle {
    margin-left: 25px;
  }
}

.formStyle {
  height: 80px;
}
.formStyle input {
  height: 40px;
  width: 500px;
  background-color: rgb(218, 218, 204);
  margin-left: 40px;
}
@media (max-width: 540px) {
  .formStyle input {
    height: 30px;
    width: 300px;
    background-color: rgb(218, 218, 204);
    margin-left: 15px;
  }
}

.container-form-field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  height: 50px;
  max-width: 750px;
}
.container-form-field div {
  font-size: 1.6rem;
}
@media (max-width: 540px) {
  .container-form-field div {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=style.css.map */