@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 800px;
}

.container-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -4px;
  height: 90px;
  width: auto;
  border-bottom: solid 2px #dadacc;
  justify-content: space-between;
  align-items: center;
  background-color: #455969;
  color: #dadacc;
}

.footer {
  margin-top: 50px;
  border-top: solid 2px #dadacc;
  height: 50px;
  width: 95%;
  font-size: 0.7em;
  color: #dadacc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-size {
  height: 30px;
  width: 30px;
  margin-left: 6px;
  margin-right: 6px;
}

.imgBg {
  width: 100%;
}

.container-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #455969;
  position: relative;
  bottom: 0px;
  height: auto;
  width: 100%;
}

.menuButton {
  margin-right: 8px;
  height: 30px;
  width: 120px;
  color: #dadacc;
  background-color: rgba(125, 145, 173, 0.5019607843);
  border-radius: 5px;
}

.pageFormat {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #455969;
  color: #dadacc;
  height: 80vh;
  width: 100%;
}

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.charlesCantinLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 500px;
  border-top: 8px #dadacc solid;
  border-bottom: 8px #dadacc solid;
  font-family: "Nova Mono", monospace;
  font-size: 3rem;
  letter-spacing: 0.4rem;
  animation-name: moveInFromLeft;
  animation-duration: 3s;
}
@media (max-width: 540px) {
  .charlesCantinLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 300px;
    border-top: 6px #dadacc solid;
    border-bottom: 6px #dadacc solid;
    font-family: "Nova Mono", monospace;
    font-size: 1.4em;
    letter-spacing: 0.4rem;
    animation-name: moveInFromLeft;
    animation-duration: 3s;
  }
}

.smallCharlesCantinLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -315px;
  height: 50px;
  width: 400px;
  border-top: 4px #dadacc solid;
  border-bottom: 4px #dadacc solid;
  font-family: "Nova Mono", monospace;
  font-size: 1.4em;
  letter-spacing: 0.4rem;
}
@media (max-width: 540px) {
  .smallCharlesCantinLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -310px;
    height: 40px;
    width: 300px;
    border-top: 4px #dadacc solid;
    border-bottom: 4px #dadacc solid;
    font-family: "Nova Mono", monospace;
    font-size: 1.4em;
    letter-spacing: 0.4rem;
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.camera {
  background-color: #455969;
  position: absolute;
  text-align: center;
  height: 70px;
  width: 100px;
  margin-top: -245px;
  margin-left: 2px;
  animation-name: moveInFromRight;
  animation-duration: 7s;
}
@media (max-width: 540px) {
  .camera {
    height: 50px;
    width: 60px;
    margin-top: -160px;
  }
  .camera img {
    height: 40px;
    width: 40px;
  }
}

.cameraLogo {
  background-color: #455969;
  position: absolute;
  text-align: center;
  width: 70px;
  margin-top: -70px;
}
.cameraLogo img {
  height: 40px;
  width: 40px;
}/*# sourceMappingURL=style.css.map */